---
---

<footer class="footer">
  <div class="container footer__inner">
    <!-- Копирайт -->
    <p>© 2026 Кухни на заказ в Оренбурге</p>

    <!-- Быстрые ссылки -->
    <a href="/catalog">Каталог</a>
    <a href="/blog">Блог</a>
    <a href="/calculators">Калькуляторы</a>
  </div>
</footer>
